<div class="quiz-container">
  <!-- Se il quiz non è finito, mostriamo la domanda -->
  <div *ngIf="!quizFinished && currentQuestion" class="question-card">
    <h3>
      {{ "QUIZ_LABELS.QUESTION" | translate }} {{ userAnswers.length + 1 }} /
      {{ allQuestions.length }}
    </h3>
    <p class="question-text">{{ currentQuestion.question }}</p>

    <div class="options-list">
      <button
        *ngFor="let opt of currentQuestion.options"
        (click)="answer(opt)"
        class="option-button"
      >
        {{ opt }}
      </button>
    </div>
  </div>

  <!-- Se il quiz è finito, mostriamo il punteggio e il bottone di restart -->
  <div *ngIf="quizFinished" class="result-card">
    <h3>{{ "QUIZ_LABELS.QUIZ_END" | translate }}</h3>
    <p>
      {{ "QUIZ_LABELS.SCORE" | translate }} <strong>{{ score }}</strong>
      {{ "QUIZ_LABELS.OF" | translate }}
      <strong>{{ allQuestions.length }}</strong>
      {{ "QUIZ_LABELS.QUESTIONS" | translate }}.
    </p>
    <button (click)="restartQuiz()" class="restart-button">
      {{ "QUIZ_LABELS.TRY_AGAIN" | translate }}
    </button>
  </div>
</div>
