<div class="homepage">
  <section class="hero">
    <h1>{{ "HOME.CHEER" | translate }} {{ username }} 👋</h1>
  </section>

  <section class="skills">
    <h2>{{ "HOME.SKILLS" | translate }}</h2>
    <div class="skills-grid">
      <div *ngFor="let tech of technicalKnowledge" class="skill-card">
        <h3>{{ tech.name }}</h3>
        <ul>
          <li *ngFor="let prop of tech.properties">{{ prop }}</li>
        </ul>
      </div>
    </div>
  </section>

  <div class="board-container">
    <h2>{{ "HOME.BOARD" | translate }}</h2>
    <app-sender-board></app-sender-board>

    <div class="board-title">{{ "HOME.MESSAGES" | translate }}</div>

    <div class="messages-list">
      <div class="message-card" *ngFor="let message of messages">
        <div class="message-header">
          <span>{{ message.user }}</span>
          <span>{{ message.date | date : "short" }}</span>
        </div>
        <div class="message-text">
          {{ message.text }}
        </div>
      </div>
    </div>
  </div>
</div>
