<footer class="footer">
  <div class="footer-content">
    <div class="footer-links-row">
      <div class="footer-links">
        <a
          href="../../../assets/privacyPolicy.txt"
          aria-label="Leggi la Privacy Policy"
          target="_blank"
          >Privacy</a
        >
        <a [routerLink]="'/personal-page'">{{ "ABOUT.ME" | translate }}</a>
        <a [routerLink]="'/contact'">{{ "ABOUT.CONTACTS" | translate }}</a>
      </div>

      <div class="footer-lang">
        <a
          href="#"
          (click)="switchLanguage('it'); $event.preventDefault()"
          [class.active]="currentLang === 'it'"
          >🇮🇹 IT</a
        >
        <a
          href="#"
          (click)="switchLanguage('en'); $event.preventDefault()"
          [class.active]="currentLang === 'en'"
          >🇬🇧 EN</a
        >
      </div>
    </div>

    <p>&copy; {{ "ABOUT.COPYRIGHT" | translate }}</p>
  </div>
</footer>
