<footer class="footer">
  <div class="footer-content">
    <p>&copy; {{ currentYear }} Federico. Tutti i diritti riservati.</p>
    <div class="footer-links">
      <a
        href="https://www.privacypolicies.com/live/ac14fbbf-8634-4b7f-9629-db180f6caa6f"
        target="_blank"
        rel="noopener noreferrer"
        >Privacy Policy</a
      >
      <!-- <a href="#">Privacy Policy</a> -->
      <a href="/contact">Contatti</a>
      <a href="/personal-page">Chi sono</a>
    </div>
  </div>
</footer>
