<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">Federico</div>

    <ul class="menu">
      <li *ngFor="let item of menuItems">
        <!-- Caso logout -->
        <a
          *ngIf="item.label === 'Logout'; else normalLink"
          (click)="logout()"
          class="logout-link"
          >{{ item.label }}</a
        >

        <!-- Caso normale -->
        <ng-template #normalLink>
          <a
            [routerLink]="item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ item.label }}</a
          >
        </ng-template>
      </li>
    </ul>
  </div>
</nav>
