<form (ngSubmit)="submitForm()" class="container_registration">
    <div class="containerForm">
        <div class="registerTitle">Register</div>
        <div class="registerForm">

            <label for="name">Nome:</label>
            <input type="text" id="name" [(ngModel)]="form.name" name="name"
                (ngModelChange)="changeField('name', $event)">

            <label for="surname">Cognome:</label>
            <input type="text" id="surname" [(ngModel)]="form.surname" name="surname"
            (ngModelChange)="changeField('surname', $event)">

            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="form.email" name="email" (ngModelChange)="changeEmail($event)">
            <div *ngIf="errorMessages['email']">{{ errorMessages['email'] }}</div>

            <label for="confirmEmail">Conferma Email:</label>
            <input type="email" id="confirmEmail" [(ngModel)]="form.confirmEmail" name="confirmEmail"
                (ngModelChange)="changeConfirmEmail($event)">
            <div *ngIf="errorMessages['confirmEmail']">{{ errorMessages['confirmEmail'] }}</div>

            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="form.password" name="password"
                (ngModelChange)="changePassword($event)">
            <div *ngIf="errorMessages['password']">{{ errorMessages['password'] }}</div>

            <label for="confirmPassword">Conferma password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="form.confirmPassword"
                (ngModelChange)="changeConfirmPassword">
            <div *ngIf="errorMessages['password']">{{ errorMessages['password'] }}</div>

            <button type="submit" [disabled]="hasErrors">Registrati</button>

            <a class="linkLogin" (click)="goToLogin()">Already have an account?</a>
        </div>
    </div>
</form>